.container {
  max-width: 740px;
  margin: 50px auto;
}

.container h1 {
  margin: 2em 0 .4em 0;
  font-size: 2.2em;
  font-weight: 600;
}

.container h2 {
  margin: 1.8em 0 .4em 0;
  font-size: 1.8em;
  font-weight: 600;
}

.container h3 {
  margin: 1.6em 0 .4em 0;
  font-size: 1.6em;
  font-weight: 600;
}

.container p {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.9em;
  margin: 0 0 1em 0;
}

.container li {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.9em;
  margin-bottom: 15px;
}

.container li:last-of-type {
  margin-bottom: 0;
}

.container img {
  width: 100%;
  height: auto;
  filter: grayscale(0.5);
  transition: filter .3s ease-in;
  cursor: pointer;
}

.container img:hover {
  filter: grayscale(0);
}

.source {
  color: var(--color-primary);
  text-decoration: none;
}