@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: white;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

button {
  font-family: 'Open Sans', sans-serif;
}