@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600&subset=latin-ext');
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: white;
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
}

button {
  font-family: 'Open Sans', sans-serif;
}